.gamediv {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/images/background22.png');
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-y: scroll;
  padding-right: 3%;
  padding-left: 3%;
}

.totaldiv{
  width: 70%;
  height: 100%;
  margin-right: 3em;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.cam {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titlediv{
  width: 100%;
  height: fit-content;
}

.camdiv {
  width:25%;
  /* border: 1px solid; */
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  background-color: antiquewhite;
  background-size: cover;
  margin: auto;
  /* border: 1px solid; */
  width: 90%;
  height: 100%;
  border-radius: 5%;
}

.title {
  margin: auto;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255, 0.7);
  align-items: center;
}

.titleImg{
  width: 10%;
  background-size: 10%;
}

.titlecontent {
  background-image: url(../../assets/images/subject_form.png);
  background-size: cover;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: fit-content;
  font-family: JsaHON;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  border: 1em groove rgba(136, 73, 28, 0.864);
}

.subject {
  font-size: 70px;
  margin: 0;
}

.subjectTopic{
  font-size: 40px;
  margin-bottom: 0;
}

.subjectcontent {
  display: flex;
  width: 100%;
  height: fit-content;
  font-size: 30px;
  margin-bottom: 0;
  padding: 1em;
}

.subjectcontent > p {
  width: 70%;
}

.subjecta {
  src: url(../../assets/images/red_subject.png);
  width: 30%;
  height: 100%;
}

.subjectdetailnota {
  background-color: gray;
  border-radius: 10%;
  color: ghostwhite;
  width: 100%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  font-family: JsaHON;
  align-items: center;
}

.subjectdetaila {
  background-color: #4181A1;
  border-radius: 10%;
  color: ghostwhite;
  width: 100%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  font-family: JsaHON;
  align-items: center;
}

.subjectdetaila:hover {
  cursor: pointer;
}

.subjectdetaila > p {
  text-align: right;
}

.subjectdetailnotb {
  background-color: gray;
  font-family: JsaHON;
  border-radius: 10%;
  color: ghostwhite;
  width: 100%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.subjectdetailb {
  background-color: #EF4D4D;
  font-family: JsaHON;
  border-radius: 10%;
  color: ghostwhite;
  width: 100%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}

.subjectdetailb:hover {
  cursor: pointer;
}

.buttondiv {
  display: flex;
  justify-content: center;
}

.button {
  width:50%;
  height: 100%;
  margin-left:5px;
  margin-right: 5px;
}

.servantdiv {
  display:flex;
  flex-direction: column;
  font-family: JsaHON;
  justify-content: space-between;
}

.servantdiv > p{
  font-size:50px;
}

.coindiv {
  width: 100%;
  font-size:30px;
  display: flex;
  align-items: center;
}

.coindiv > p {
  margin: 0 1em 0 0;
  font-size: 30px;
}

.countdiv {
  width: 100%;
  font-size:30px;
  display: flex;
  align-items: center;
}

.countdiv > p {
  margin: 0 1em 0 0;
  font-size: 30px;
}

.timerDiv {
  height: 30%;
  font-size:30px;
  display: flex;
  align-items: center;
  padding: 1em;
}

.timerDiv > p {
  margin: 0 1em 0 0;
  font-size: 30px;
}

.servantinfo {
  margin-left: 5em;
}

.servantinfo > p{
  font-size:20px;
  display:flex;
  flex-direction: column;
  margin-top:5px;
  margin-bottom:0px
}

.king {
  background-color: white;
  margin: auto;
  /* border: 1px solid; */
  width: 25rem;
  height: 25rem;
}

.chatdiv {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
  z-index: 0;
  margin-right: 1em;
  font-family: JsaHON;
  /* border: 1px solid */
}

.infobg{
  margin-top: 1em;
  height: 20%;
  width: 100%;
  background-image: url(../../assets/images/info_form.png);
  background-size: cover;
  z-index: 2;
}

.infobox{
  height: 50%;
  align-items: center;
  display: flex;
  padding-left: 2em;
}

.infoHeadDiv{
  height: 20%;
  font-size:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed;
}

.infoHeadDiv p{
  display:inline-block;
}

.chatoutline {
  background-color: rgb(233, 217, 185);
  background-size: cover;
  border-radius: 5%;
  align-self: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
  height: 65%;
}

.chatbg {
  width: 100%;
  height: 100%;
  background: center;
  background-size: cover;
  background-image: url(../../assets/images/chat_form.png);
  /* background-color: rgb(255,255,255,0.6); */
  border-style: groove;
}

.chatbox__messages {
  height: 90%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column;
}

.chatbox__footer {
  margin-top: 2%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgba(255, 249, 200, 0);
  background-size: cover;
  border-top: 1px dotted;
  padding-bottom: 20px;
}

#chat_message {
  width: 80%;
  margin-top: 3px;
}

.chat_send {
  margin-top: 3px;
  background-color: beige;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  transition-duration: 0.4s;
  font-weight: 1000;
  width: fit-content;
  position: relative;
  width: 20%;
  margin-left: 1em;
}

.chat_send:hover{
  background-color: saddlebrown;
  color: white;
}

.icons {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon:hover{
  transform: scale(1.5);
}

.ready-icon {
  margin: auto;
  width: 100px;
  height: 100px;
}

.ready-icon:hover{
  cursor: pointer;
  transform: scale(1.5);
}

.icon {
  margin: auto;
  width: 100px;
  height: 100px;
}

.icon:hover{
  cursor: pointer;
}

.stream-container {
  width: 33%;
  height: 95%;
  display: flex;
  justify-content: center;
}
