.gamediv {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../assets/images/gamebg.png');
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;
}

.camdiv {
  width:25%;
  /* border: 1px solid; */
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  background-color: antiquewhite;
  background-image: url('../../assets/images/human.png');
  background-size: cover;
  margin: auto;
  /* border: 1px solid; */
  width: 400px;
  height: 300px;
}

.kingdiv .box {
  width: 500px;
  height: 400px;
}

.kingdiv {
  margin-top: 10px;
  width: 30%;
  /* border: 1px solid */
}

.titlediv {
  margin-top: 10px;
  height: 660px;
}

.title {
  margin: auto;
  width: 100%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255, 0.7);
}

.temp {
  background-color: blueviolet;
}
.titleImg{
  width: 10%;
  background-size: 10%;
}
.titlecontent {
  background-image: url(../../assets/images/subject_form.png);
  background-size: cover;
  display: flex;
  flex-flow: column;
  width: 100%;
  padding-bottom: 1em;
  height: fit-content;
  font-family: JsaHON;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 1em groove rgba(136, 73, 28, 0.864);
}

.subject {
  font-size: 70px;
  margin: 0;
}

.subjecttopic{
font-size: 30px;
margin-bottom: 0;
}

.subjectcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  font-size: 30px;
  margin-bottom: 0;
  padding: 1em;
  
}

.subjectdetaila {
  background-color: rgb(214, 40, 40);
  border-radius: 10%;
  color: ghostwhite;
  width: 45%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  justify-content: center;
  font-family: JsaHON;
}

.subjectdetailb {
  background-color: rgb(40, 40, 195);
  font-family: JsaHON;
  border-radius: 10%;
  color: ghostwhite;
  width: 45%;
  padding: 1em;
  word-break: keep-all;
  display: flex;
  justify-content: center;
}

.buttondiv {
  display: flex;
  justify-content: center;
}

.button {
  width:100px;
  margin-left:5px;
  margin-right: 5px;
}

.servantdiv {
  padding-right:55px;
  padding-left: 70px;
  display:flex;
  flex-direction: row;
  font-family: JsaHON;
  justify-content: space-between;
}

.servantdiv > p{
  font-size:50px;
}

.timerDiv {
  height: 42%;
  font-size:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servantinfo > p{
  font-size:20px;
  display:flex;
  flex-direction: column;
  margin-top:5px;
  margin-bottom:0px
}

.king {
  background-color: white;
  margin: auto;
  /* border: 1px solid; */
  width: 25rem;
  height: 25rem;
}

.chatdiv {
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
  z-index: 0;
  margin-right: 1em;
  font-family: JsaHON;
  /* border: 1px solid */
}

.infobg{
  margin-top: 1em;
  height: 30%;
  width: 100%;
  background-color: blueviolet;
  background-size: cover;
  z-index: 2;
}

.infobox{
  background-color: violet;
  height: 38%;
  text-align: center;
}

.infoHeadDiv{
  height: 20%;
  font-size:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: magenta;
}

.infoHeadDiv p{
  display:inline-block;
}

.chatbg {
  width: 100%;
  height: 55%;
  background-size: cover;
  background-image: url(../../assets/images/yellow-paper.jpg);
  /* background-color: rgb(255,255,255,0.6); */
  border-style: groove;
  margin-top: 1em;
}

.chatbox__messages {
  height: 90%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-direction: column;
}

.chatbox__footer {
  margin-top: 2%;
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: rgba(255, 249, 200, 0);
  background-size: cover;
  border-top: 1px dotted;
  padding-bottom: 20px;
}

#chat_message {
  width: 80%;
  margin-top: 3px;
}

.chat_send {
  margin-top: 3px;
  background-color: beige;
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  transition-duration: 0.4s;
  font-weight: 1000;
  width: fit-content;
  position: relative;
  width: 20%;
  margin-left: 1em;
}

.chat_send:hover{
  background-color: saddlebrown;
  color: white;
}

.icons {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon:hover{
  transform: scale(1.5);
}

.ready-icon {
  margin: auto;
  width: 100px;
  height: 100px;
}

.ready-icon:hover{
  cursor: pointer;
  transform: scale(1.5);
}

.icon {
  margin: auto;
  width: 100px;
  height: 100px;
}

.icon:hover{
  cursor: pointer;
}

.stream-container {
  display: flex;
  justify-content: center;
}
