video {
    width: 100%;
    height: 100%;
    float: left;
    cursor: pointer;
    border-radius: 5%;
}

.streamcomponent {
    width: 90%;
    height: 100%;
    position: relative;
}

.crown {
    width: 100%;
    height: 100%;
}

.replacement {
    width: 100%;
    height: 100%;
}

.crowndiv {
    position: absolute;
    width: 5%;
    margin-left: 1%;
}

.micdiv {
    position: absolute;
    bottom: 0%;
    right: 10%;
    width: 10%;
    height: 10%;
    background-color: aliceblue;
    border-right: 1px solid black;
}

.mic{
    width:100%;
    height: 100%;
}

.cameradiv{
    position: absolute;
    bottom: 0%;
    right: 0;
    width: 10%;
    height: 10%;
    background-color: aliceblue;
}

.camera{
    width:100%;
    height: 100%;
}

.streamdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

p{
    margin: 0;
}

