.mb-3 {
    font-size: 25px;
    font-family: JsaHON;
}

.mb-0 {
    font-size: 25px;
    font-family: JsaHON;
}

.messagesuccess {
    color: green;
}

.messageerror{
    color: red;
}

#closeButton{
    cursor: pointer;
}